body {
    background-color: #444444;
}

nav {
    background-color: black;
    display: flex;
    height: 60px;
    list-style: none;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    
}

.navbar {
    display: inline-block;
    
    margin: 0 20px;

}

.paul {
    display: inline-block;
    margin-right: auto;
    margin-left: 10px;
}

.income {
    font-size: 40px;
}


.navbar a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    position: relative;
    
}

.navbar a::before {
    position: absolute;
    content: "";
    background: white;
    height: 3px;
    width: 0;
    bottom: -10px;
    transition: 0.6s;
}


.navbar a:hover::before {
    width: 100%;
}







.parent_div{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}


.child_container {
    width: 70%;
    display: flex;
    
    
}

form {
    display: flex;
    flex-direction: column;
   
}



label {
    display: flex;
    justify-content: space-between
}
  
input {
    margin-left: 20px;
    height: 20px;
    margin-bottom: 10px;
    width: 250px;

    
   
}


#select-category {
    width: 257px;
    height: 30px;
    padding: 1px 5px;
    
}

p {
    color: 
        red
    }




.home_button {
    width: 57.48px;
    height: 21px;
    
    
}


.expense_container {
    
    height: auto;
    display: flex;
    justify-content: space-around;
   
    
}

.icon {
    height: 30px;
}

.delete_button {
   
    background-color: #2a2a2a;
    
}

.delete_button:hover {
    background-color: azure;
}

thead {
    background-color: grey;
}

th {
    background-color: dimgrey;
    border: solid #444444;
}

tbody {
    background-color: #000000;
}

tr {
    background-color: #2a2a2a;
}

td, th {
    color: #d3d3d3;
}

.summary_container {
    display: flex;
    justify-content: space-around;
}

.money_container, .receipt_container{
    text-align: center;
    background-color: lightgray;
    border-radius: 10%;
    min-width: 200px;
}

.entries {
    color: red;
}

.expense_data_container {
    display: flex;
    justify-content: center;
}