

.income {
    font-size: 40px;
}



.parent_div{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
}


.child_container {
    width: 70%;
    display: flex;
    
    
}

form {
    display: flex;
    flex-direction: column;
   
}



label {
    display: flex;
    justify-content: space-between
}
  
input {
    margin-left: 20px;
    height: 20px;
    margin-bottom: 10px;
    width: 250px;

    
   
}


#select-category {
    width: 257px;
    height: 30px;
    padding: 1px 5px;
    
}

p {
    color: 
        red
    }




.home_button {
    width: 57.48px;
    height: 21px;
    
    
}


.expense_container {
    
    height: auto;
    display: flex;
    justify-content: space-around;
   
    
}

.icon {
    height: 30px;
}

.delete_button {
    max-width: 30px;
}

thead {
    background-color: grey;
}

th {
    background-color: dimgrey;
    border: solid #444444;
}

tbody {
    background-color: #000000;
}

tr {
    background-color: #2a2a2a;
}

td, th {
    color: #d3d3d3;
}

.summary_container {
    display: flex;
    justify-content: space-around;
}

.money_container, .receipt_container{
    text-align: center;
    background-color: lightgray;
    border-radius: 10%;
    min-width: 200px;
}