  
   <div class="expense_container">

    <caption>Expenses</caption>
    <p class="my_income"> Monthly Income - ${{"{:.2f}".format(income)}}</p>

    <p class="total_expenses">Monthly Expenses - ${{ "{:.2f}".format(my_expenses) }}</p>

    <p class="money_leftover">Money Leftover ${{"{:.2f}".format(free_money)}}</p>

        {% for expense in my_list %}
       

        <thead>
            <th scope="col">Expense Name</th>
            <th scope="col">Expense Cost</th>
            <th scope="col">action</th>
        </thead>
        
            <form action="{{url_for('delete_expense', index=loop.index0)}}" method="post"></form>
                <tbody>
                <tr>
                    <th scope="row">{{expense.name}}</th>
                   
                    <td>{{ "{:.2f}".format(expense.amount) }}</td>
                    <td><button class="delete_button" type="submit"><img class="icon" src="/static/images/icons8-trash.svg"></button></td>
                </tr>
                 

                </tbody>
            </form>

        
            
           

            
        
       

        {% endfor %}
      
       
        
      
        <button type="button">
            <a href="{{url_for('add_expense')}}">add expense</a>
        </button>

    </div>

    
