<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" >
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>

   
   
    <div class="summary_container">
        
        <div class="money_container">
            <img src="../static/images/money_icon.png" alt="picture of money symbol">
            <p class="my_income"> Monthly Income - ${{ "{:.2f}".format(income) }}</p>
    
            <p class="total_expenses">Monthly Expenses - ${{ "{:.2f}".format(my_expenses) }}</p>
    
            <p class="money_leftover">Money Leftover - ${{ "{:.2f}".format(free_money) }}</p>

        </div>
        <div class="receipt_container">
            <img src="../static/images/receipt_logo.png" alt="picture of receipt">
            <p>Number of entries</p>

        </div>
        
        
      
    
    </div>
    <div class="expense_data">
    
        <table>
            <thead>
                <tr>
                    <th scope="col">Expense Name</th>
                    <th scope="col">Expense Cost</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in my_list %}
                <tr>
                    <th scope="row">{{ expense.name }}</th>
                    <td>{{ "${:.2f}".format(expense.amount) }}</td>
                    <td>
                        <form action="{{ url_for('delete_expense', index=loop.index0) }}" method="post">
                            <button class="delete_button" type="submit">
                                <img class="icon" src="/static/images/icons8-trash.svg" alt="Delete">
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <button type="button">
        <a href="{{url_for('add_expense')}}">add expense</a>
    </button>
    
</body>
</html>
