<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav>
      <li class="navbar paul"><a href="#">Paul's Expense Tracker</a></li>
      <li class="navbar"><a href="#">Home</a></li>
      <li class="navbar"><a href="#">Logout</a></li>
    </nav>

    <div class="summary_container">
      <div class="money_container">
        <img
          src="../static/images/money_icon.png"
          alt="picture of money symbol"
        />
        <p class="my_income">Monthly Income - ${{ "{:.2f}".format(income) }}</p>
        <p class="total_expenses">
          Monthly Expenses - ${{ "{:.2f}".format(my_expenses) }}
        </p>
        <p class="money_leftover">
          Money Leftover - ${{ "{:.2f}".format(free_money) }}
        </p>
      </div>
      <div class="receipt_container">
        <img src="../static/images/receipt_logo.png" alt="picture of receipt" />
        <p>Number of entries</p>
        <p class="entries">{{ entries }}</p>
      </div>
    </div>

    <div class="expense_data_container">
      <table>
        <thead>
          <tr>
            <th>Expense Name</th>
            <th>Expense Cost</th>
            <th>Expense Date</th>
            <th>Action</th>
          </tr>
        </thead>

        {% for expense in my_list %}

        <tr>
          <td>{{ expense.name }}</td>
          <td>{{ "${:.2f}".format(expense.amount) }}</td>
          <td>4-23-2024</td>
          <td>
            <button
              class="delete_button"
              type="button"
              onclick="toggleConfirmation({{loop.index0}});"
            >
              <img
                class="icon"
                src="/static/images/trash_icon.png"
                alt="Delete"
              />
            </button>
          </td>
        </tr>

        <div class="container" id="{{loop.index0}}" style="display: none">
          <div class="btn_window">
            <div class="prompt">Are you sure you want to delete?</div>
            <div class="btn_container">
              <button class="cancel" type="button">Cancel</button>
              <form
                action="{{ url_for('delete_expense', index=loop.index0) }}"
                method="post"
              >
                <button class="confirm_delete" type="submit">
                  Yes, I want to delete
                </button>
              </form>
            </div>
          </div>
        </div>

        {% endfor %}
      </table>
    </div>

    <button type="button">
      <a href="{{url_for('add_expense')}}">add expense</a>
    </button>
    <script>
      function toggleConfirmation(index) {
        var container = document.getElementById(index);
        container.style.display =
          container.style.display === "block" ? "none" : "block";
      }
    </script>
  </body>
</html>
