<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <link rel="stylesheet" href="/static/styles.css" />
    <link
      rel="stylesheet"
      href="../static/jquery-ui-1.14.0.custom/jquery-ui.css"
    />

    <link
      rel="stylesheet"
      href="../static/jquery-ui-1.14.0.custom/jquery-ui.structure.css"
    />
    <link
      rel="stylesheet"
      href="../static/jquery-ui-1.14.0.custom/jquery-ui.theme.css"
    />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>

  <body class="dark">
    <nav class="top-navbar-container">
      <li class="paul"><a href="#">Expense Tracker</a></li>
      <div class="welcome-container">
        <li class="welcome">Welcome, {{username}}</li>
      </div>

      <li class="top-navbar"><a href="{{url_for('dashboard')}}">Home</a></li>
      <li class="top-navbar"><a href="#">Profile</a></li>
      <li class="top-navbar">
        <a href="{{url_for('logout')}}">Logout</a>
      </li>
    </nav>
    <nav class="close">
      <header>
        <div class="image-text" id="image-text">
          <span class="image">
            <img
              class="light-mode-et"
              src="../static/images/NEW_ET_logo.png"
              alt="icon of expense tracker"
            />
            <img
              class="dark-mode-et"
              src="../static/images/ET_lightmode.png"
              alt="icon of expense tracker"
            />
          </span>
          <div class="text header-text" id="header-text">
            <span class="name">Expense Tracker</span>
          </div>
        </div>

        <i class="bx bx-chevron-right toggle"></i>
      </header>
      <div class="menu-bar">
        <div class="menu">
          <ul class="menu-links">
            <li class="open-search-box close-search-box">
              <i class="bx bx-search-alt-2 search-icon"></i>

              <input
                type="search"
                placeholder="Search expense"
                id="search-input"
                class="search-input"
              />
            </li>
            <li class="nav-link" id="dashboard-link">
              <a href="#">
                <i class="bx bxs-home home-icon"></i>
                <span class="text nav-text"> Dashboard</span>
              </a>
            </li>
            <li class="nav-link">
              <a href="{{url_for('add_expense')}}">
                <svg
                  class="sidebar-icon"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M14.2617 15.4385H9.26172"
                    stroke-width="1.5"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M11.7617 12.998V17.998"
                    stroke-width="1.5"
                    stroke-miterlimit="10"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M12.66 2.51814L12.63 2.58814L9.72996 9.31814H6.87996C6.19996 9.31814 5.54996 9.45814 4.95996 9.70814L6.70996 5.52814L6.74996 5.42814L6.81996 5.26814C6.83996 5.20814 6.85996 5.14814 6.88996 5.09814C8.19996 2.06814 9.67996 1.37814 12.66 2.51814Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M18.05 9.51807C17.6 9.37807 17.12 9.31807 16.64 9.31807H9.72998L12.63 2.58807L12.66 2.51807C12.81 2.56807 12.95 2.63807 13.1 2.69807L15.31 3.62807C16.54 4.13807 17.4 4.66807 17.92 5.30807C18.02 5.42807 18.1 5.53807 18.17 5.66807C18.26 5.80807 18.33 5.94807 18.37 6.09807C18.41 6.18807 18.44 6.27807 18.46 6.35807C18.73 7.19807 18.57 8.22807 18.05 9.51807Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M21.5217 14.1984V16.1484C21.5217 16.3484 21.5117 16.5484 21.5017 16.7484C21.3117 20.2384 19.3617 21.9984 15.6617 21.9984H7.86172C7.62172 21.9984 7.38172 21.9784 7.15172 21.9484C3.97172 21.7384 2.27172 20.0384 2.06172 16.8584C2.03172 16.6284 2.01172 16.3884 2.01172 16.1484V14.1984C2.01172 12.1884 3.23172 10.4584 4.97172 9.70836C5.57172 9.45836 6.21172 9.31836 6.89172 9.31836H16.6517C17.1417 9.31836 17.6217 9.38836 18.0617 9.51836C20.0517 10.1284 21.5217 11.9884 21.5217 14.1984Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M6.71 5.52808L4.96 9.70808C3.22 10.4581 2 12.1881 2 14.1981V11.2681C2 8.42808 4.02 6.05808 6.71 5.52808Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                  <path
                    d="M21.5186 11.2677V14.1977C21.5186 11.9977 20.0586 10.1277 18.0586 9.52766C18.5786 8.22766 18.7286 7.20766 18.4786 6.35766C18.4586 6.26766 18.4286 6.17766 18.3886 6.09766C20.2486 7.05766 21.5186 9.02766 21.5186 11.2677Z"
                    stroke-width="1.5"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></path>
                </svg>
                <span class="text nav-text"> Add Expense</span>
              </a>
            </li>
            <li class="nav-link">
              <a>
                <svg
                  class="sidebar-icon edit-icon"
                  viewBox="0 0 24 24"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <g stroke-width="0"></g>
                  <g
                    id="SVGRepo_tracerCarrier"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  ></g>
                  <g>
                    <g id="style=stroke">
                      <g id="edit">
                        <path
                          id="vector (Stroke)"
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M4.3367 16.071L3.94269 19.6888C3.9081 20.0064 4.17624 20.2746 4.49389 20.24L8.11161 19.846C8.45133 19.809 8.76823 19.6571 9.00986 19.4154L20.0011 8.42417C20.5869 7.83838 20.5869 6.88863 20.0011 6.30285L17.8798 4.18153C17.294 3.59574 16.3443 3.59574 15.7585 4.18153L4.76722 15.1728C4.52559 15.4144 4.3737 15.7313 4.3367 16.071ZM18.9405 3.12087L21.0618 5.24219C22.2334 6.41376 22.2334 8.31325 21.0618 9.48483L10.0705 20.4761C9.58725 20.9594 8.95345 21.2631 8.27401 21.3371L4.65629 21.7311C3.38571 21.8695 2.31313 20.7969 2.45151 19.5264L2.84552 15.9086C2.91952 15.2292 3.22329 14.5954 3.70656 14.1121L14.6978 3.12087C15.8694 1.94929 17.7689 1.94929 18.9405 3.12087Z"
                          fill="#currentColor"
                        ></path>
                        <path
                          id="vector (Stroke)_2"
                          fill-rule="evenodd"
                          clip-rule="evenodd"
                          d="M20.0011 6.30285L17.8798 4.18153C17.294 3.59574 16.3443 3.59574 15.7585 4.18153L14.4857 5.45432L18.7283 9.69696L20.0011 8.42417C20.5869 7.83838 20.5869 6.88863 20.0011 6.30285ZM18.7283 11.8183L12.3644 5.45432L14.6978 3.12087C15.8694 1.94929 17.7689 1.94929 18.9405 3.12087L21.0618 5.24219C22.2334 6.41376 22.2334 8.31326 21.0618 9.48483L18.7283 11.8183Z"
                          fill="#currentColor"
                        ></path>
                      </g>
                    </g>
                  </g>
                </svg>
                <span class="text nav-text"> Edit Expense</span>
              </a>
            </li>
          </ul>
          <div class="bottom-content">
            <li class="bottom-list">
              <a>
                <i class="bx bx-log-out logout-icon"></i>
                <span class="logout-text">Logout</span>
              </a>
            </li>

            <li class="mode">
              <div class="moon-sun">
                <i class="bx bxs-sun sun-icon sun"></i>
                <i class="bx bx-moon moon-icon moon"></i>
              </div>
              <span class="mode-text text dark-span">Dark Mode</span>
              <span class="mode-text text light-span">Light Mode</span>

              <div class="toggle-switch">
                <span class="switch"></span>
              </div>
            </li>
          </div>
        </div>
      </div>
    </nav>
    <div class="summary_container">
      <div class="money_container">
        <div class="money_in_container">
          <div class="money_in_image_container">
            <i class="fa-solid fa-dollar-sign fa-2xl green_money_icon"></i>
          </div>
          <div class="details_container money_in">
            <p class="monthly">Income</p>
            <p class="monthly_details">${{ "{:.2f}".format(income) }}</p>
          </div>
        </div>
        <div class="money_out_container">
          <div class="money_out_image_container">
            <i class="fa-solid fa-dollar-sign fa-2xl red_money_icon"></i>
          </div>
          <div class="details_container money_out">
            <p class="monthly">Expenses</p>
            <p class="monthly_details">${{ "{:.2f}".format(my_expenses) }}</p>
          </div>
        </div>

        <div class="receipt_container">
          <div class="receipt_image_container">
            <i class="bx bx-receipt receipt-svg"></i>
          </div>
          <div class="details_container receipt">
            <p class="monthly">Entries</p>
            <p class="monthly_details">{{ entries }}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="expense_data_container">
      <table>
        <thead class="table-head">
          <tr>
            <th>name</th>
            <th>cost</th>
            <th>
              <form action="{{url_for('sort_date_asc')}}" method="get">
                <button type="submit">
                  <i class="bx bx-up-arrow-alt"></i>
                </button>
              </form>
            </th>
            <th>Delete</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          {% for item in my_list %}

          <td>
            <div class="name_flex_container">
              <div class="name-container">
                {{ item.expense }}
                <button
                  type="button"
                  class="edit-name-button"
                  id="edit-name-button-{{loop.index0}}"
                  onclick="showEditnameForm({{loop.index0}});showEditnameInput({{loop.index0}});"
                >
                  <p>Edit name</p>
                </button>
                <button
                  class="cancel-svg-button"
                  id="cancel-svg-name-button-{{loop.index0}}"
                  onclick="noNameEdit({{loop.index0}});noNameForm({{loop.index0}})"
                >
                  <img
                    class="cancel-icon"
                    src="../static/images/cancel_icon.png"
                  />
                </button>
              </div>
              <div class="name-input-container">
                <form
                  class="edit-name-form"
                  id="edit-name-form-{{loop.index0}}"
                  action="{{url_for('update_name', index = loop.index0, expense_id = item.expense_id)}}"
                  method="post"
                >
                  <input
                    class="edit-name-input"
                    type="text"
                    id="edit-name-input-{{loop.index0}}"
                    autocomplete="off"
                    name="new-name-input-{{loop.index0}}"
                  />
                  <button
                    type="submit"
                    class="save-name-edit-button"
                    id="save-name-edit-button-{{loop.index0}}"
                  >
                    Save
                  </button>
                </form>
              </div>
            </div>
          </td>

          <td>
            <div class="cost_flex_container">
              <div class="cost-container">
                {{ "${:.2f}".format(item.amount) }}
                <button
                  class="edit-cost-button"
                  id="edit-cost-button-{{loop.index0}}"
                  onclick="showCostForm({{loop.index0}});showCostinput({{loop.index0}})"
                >
                  <p>Edit cost</p>
                </button>
                <button
                  class="cancel-svg-button"
                  id="cancel-svg-cost-button-{{loop.index0}}"
                  onclick="noCostEdit({{loop.index0}});noCostForm({{loop.index0}})"
                >
                  <img
                    class="cancel-icon"
                    src="../static/images/cancel_icon.png"
                  />
                </button>
              </div>
              <div class="cost-form-container">
                <form
                  class="edit-cost-form"
                  id="edit-cost-form-{{loop.index0}}"
                  method="POST"
                  action="{{url_for('update_cost', index = loop.index0, expense_id = item.expense_id) }}"
                >
                  <input
                    class="edit-cost-input"
                    type="number"
                    id="edit-cost-input-{{loop.index0}}"
                    name="new-cost-input-{{loop.index0}}"
                  />
                  <button
                    type="submit"
                    id="save-cost-edit-button-{{loop.index0}}"
                    class="save-cost-edit-button"
                  >
                    Save
                  </button>
                </form>
              </div>
            </div>
          </td>
          <td>
            <div class="date_flex_container" id="date_flex_container">
              <div class="date-container">
                {{ item.date}}
                <button
                  class="edit-date-button"
                  id="edit-date-button-{{loop.index0}}"
                  onclick="showDateForm({{loop.index0}});showDateInput({{loop.index0}})"
                >
                  <p>Edit date</p>
                </button>
                <button
                  class="cancel-svg-button"
                  id="cancel-svg-date-button-{{loop.index0}}"
                  onclick="noDateEdit({{loop.index0}});noDateForm({{loop.index0}})"
                >
                  <img
                    class="cancel-icon"
                    src="../static/images/cancel_icon.png"
                  />
                </button>
              </div>
              <div class="date-form-container">
                <form
                  class="edit-date-form"
                  id="edit-date-form-{{loop.index0}}"
                  method="POST"
                  action="{{url_for('update_date', index = loop.index0, expense_id = item.expense_id) }}"
                >
                  <input
                    id="datepicker-{{loop.index0}}"
                    type="text"
                    autocomplete="off"
                    name="new-date-input-{{loop.index0}}"
                  />
                  <button
                    type="submit"
                    class="save-date-edit-button"
                    id="save-date-edit-button-{{loop.index0}}"
                  >
                    Save
                  </button>
                </form>
              </div>
            </div>
          </td>
          <td class="delete-table-container">
            <button
              class="button_icon"
              onclick="deleteFunction({{loop.index0}})"
            >
              <img
                src="/static/images/new_trash_icon.png"
                alt="icon of a trash can"
              />
            </button>
          </td>
          <td class="edit-table-container">
            <button
              class="main-edit-button"
              type="button"
              onclick="editNamebutton({{loop.index0}});showCostbutton({{loop.index0}});showDatebutton({{loop.index0}});showCancelIcons({{loop.index0}});showCostCancelButtons({{loop.index0}})"
            >
              <img class="edit-icon" src="../static/images/pencil_345648.png" />
            </button>
          </td>
        </tbody>

        <div class="confirmation_container" id="delete-{{loop.index0}}">
          <div class="btn_window">
            <div class="prompt">
              <img
                src="../static/images/warning_icon.png"
                alt="picture of a warning symbol"
              />
              <p>Are you sure you want to delete?</p>
            </div>
            <div class="expense_details">
              <p>Expense: <span>{{ item.name}} </span></p>
              <p>
                Expense Cost: $<span>{{ "{:.2f}".format(item.amount) }} </span>
              </p>
            </div>

            <div class="btn_container">
              <button class="cancel" onclick="cancelDelete({{loop.index0}})">
                Cancel
              </button>
              <form
                action="{{url_for('delete_expense', expense_id=item.expense_id)}}"
                method="post"
              >
                <button class="confirm_delete" type="submit">
                  Yes, I want to delete
                </button>
              </form>
            </div>
          </div>
        </div>

        {% endfor %}
      </table>
    </div>
    <!--
    <button class="add_expense_button" type="button">
      <a href="{{url_for('add_expense')}}">
        <img
          src="../static/images/new_add_expense_icon.png"
          alt="picture of money being added to a wallet"
        />
        Add Expense
      </a>
    </button>
    -->
    <script>
      /* DELETE FUNCTION START SECTION */
      function deleteFunction(index) {
        document.getElementById("delete-" + index).style.display = "flex";
      }

      function cancelDelete(index) {
        document.getElementById("delete-" + index).style.display = "none";
      }

      /* DELETE FUNCTION END SECTION */

      /* =============================================================================================================== */
      /* =============================================================================================================== */
      /* =============================================================================================================== */
      /* =============================================================================================================== */

      /* NAME EDIT START SECTION */
      function editNamebutton(index) {
        const name_edit = document.getElementById("edit-name-button-" + index);
        name_edit.style.display = "inline-flex";
        name_edit.style.justifyContent = "center";
        name_edit.style.alignItems = "center";
      }

      function showEditnameForm(index) {
        const formInput = document.getElementById("edit-name-form-" + index);
        formInput.style.display = "flex";
        formInput.style.justifyContent = "space-between";
      }

      function showEditnameInput(index) {
        const newNameInput = document.getElementById(
          "edit-name-input-" + index
        );
        newNameInput.style.display = "flex";
      }

      function noNameEdit(index) {
        const hideNameEditButton = document.getElementById(
          "edit-name-button-" + index
        );
        hideNameEditButton.style.display = "none";
        const hideNameCancelButton = document.getElementById(
          "cancel-svg-name-button-" + index
        );
        hideNameCancelButton.style.display = "none";
      }

      function noNameForm(index) {
        const hideNameForm = document.getElementById("edit-name-form-" + index);
        hideNameForm.style.display = "none";
        const clearNameInput = document.getElementById(
          "edit-name-input-" + index
        );
        clearNameInput.value = "";
      }

      /* NAME EDIT END SECTION */

      /* =============================================================================================================== */
      /* =============================================================================================================== */
      /* =============================================================================================================== */
      /* =============================================================================================================== */

      /* COST EDIT START SECTION */
      function showCostbutton(index) {
        const costButton = document.getElementById("edit-cost-button-" + index);
        costButton.style.display = "inline-flex";
        costButton.style.justifyContent = "center";
        costButton.style.alignItems = "center";
      }

      function showCostForm(index) {
        const showCostinput = document.getElementById(
          "edit-cost-form-" + index
        );
        showCostinput.style.display = "flex";
      }

      function showCostinput(index) {
        const showInput = document.getElementById("edit-cost-input-" + index);
        showInput.style.display = "inline";
      }

      function noCostEdit(index) {
        const hideCostButton = document.getElementById(
          "edit-cost-button-" + index
        );
        hideCostButton.style.display = "none";
        const hideCostCancelButton = document.getElementById(
          "cancel-svg-cost-button-" + index
        );
        hideCostCancelButton.style.display = "none";
      }

      function noCostForm(index) {
        const hideCostForm = document.getElementById("edit-cost-form-" + index);
        hideCostForm.style.display = "none";
        const clearCostInput = document.getElementById(
          "edit-cost-input-" + index
        );
        clearCostInput.value = "";
      }
      /* COST EDIT END SECTION */

      /* =============================================================================================================== */
      /* =============================================================================================================== */
      /* =============================================================================================================== */
      /* =============================================================================================================== */

      /* DATE EDIT START SECTION */

      function showDatebutton(index) {
        const dateButton = document.getElementById("edit-date-button-" + index);
        dateButton.style.display = "inline-flex";
        dateButton.style.justifyContent = "center";
        dateButton.style.alignItems = "center";
      }

      function showDateForm(index) {
        const showDate = document.getElementById("edit-date-form-" + index);
        showDate.style.display = "flex";
      }

      function showDateInput(index) {
        document.getElementById("datepicker");
        document.style.display = "inline";
      }

      function noDateEdit(index) {
        const hideDateCancelicon = document.getElementById(
          "cancel-svg-date-button-" + index
        );
        hideDateCancelicon.style.display = "none";
        const hideDateEditButton = document.getElementById(
          "edit-date-button-" + index
        );
        hideDateEditButton.style.display = "none";
      }

      function noDateForm(index) {
        const hideDateForm = document.getElementById("edit-date-form-" + index);
        hideDateForm.style.display = "none";
      }
      /* DATE EDIT END SECTION */

      /* =============================================================================================================== */
      /* =============================================================================================================== */

      /* SVG CANCEL BUTTONS START */

      function showCancelIcons(index) {
        const showNameCancel = document.getElementById(
          "cancel-svg-name-button-" + index
        );
        showNameCancel.style.display = "flex";
        showNameCancel.style.justifyContent = "center";
        showNameCancel.style.alignItems = "center";
        const showCostCancel = document.getElementById(
          "cancel-svg-cost-button-" + index
        );
        showCostCancel.style.display = "flex";
        showCostCancel.style.justifyContent = "center";
        showCostCancel.style.alignItems = "center";
        const showDateCancel = document.getElementById(
          "cancel-svg-date-button-" + index
        );
        showDateCancel.style.display = "flex";
        showDateCancel.style.justifyContent = "center";
        showDateCancel.style.alignItems = "center";
      }

      /* SVG CANCEL BUTTONS END */
    </script>

    <!-- JQUERY CALENDER LINKS BELOW-->

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.0/jquery-ui.min.js"
      integrity="sha512-MlEyuwT6VkRXExjj8CdBKNgd+e2H+aYZOCUaCrt9KRk6MlZDOs91V1yK22rwm8aCIsb5Ec1euL8f0g58RKT/Pg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!--JQUERY CALENDER FUNCTION BELOW -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.14.0/jquery-ui.min.js"
      integrity="sha512-MlEyuwT6VkRXExjj8CdBKNgd+e2H+aYZOCUaCrt9KRk6MlZDOs91V1yK22rwm8aCIsb5Ec1euL8f0g58RKT/Pg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script>
      $(function () {
        $("input[id^='datepicker-']").each(function () {
          $(this).datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "yy-mm-dd",
          });
        });
      });
    </script>
    <script src="../static/new_js.js"></script>
  </body>
</html>
