<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Expense Tracker</title>
    <!-- CSS File -->
    <link rel="stylesheet" href="../static/styles.css" />
    <!-- Add your favicon -->
  </head>
  <body>
    <div class="my-data-container">
      <p class="username_data">{{username}}</p>
      <p class="password_data">{{ password }}</p>
      <p class="password_data">{{ email }}</p>
    </div>
    <script src="../static/script.js"></script>
  </body>
</html>
