<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Expense Tracker</title>
    <!-- CSS File -->
    <link rel="stylesheet" href="../static/styles.css" />
    <!-- Add your favicon -->
  </head>
  <body>
    <div class="signup-page-container">
      <img class="signup-logo" src="../static/images/ET_lightmode.png" />
      <h1>Expense Tracker</h1>
      <h2>Create an account</h2>
    </div>
    <div class="signup-form-container">
      <form
        class="signup-form"
        method="post"
        action="{{url_for('create_account')}}"
      >
        <input type="text" name="username" placeholder="username" required />
        <input type="text" name="email" placeholder="email" required />
        <input
          type="text"
          name="password"
          class="first-password"
          placeholder="password"
          required
        />
        <input
          oninput="confirmPassword()"
          type="text"
          name="confirm-password"
          class="confirm-password"
          placeholder="confirm password"
          required
        />
        <div class="box-alert-container">
          <span
            style="
              text-align: center;
              margin-bottom: 5px;
              font-family: Roboto, sans-serif;
            "
            class="password-alert"
          ></span>

          <button class="create-account-button" type="submit">
            Create account
          </button>
        </div>
      </form>
      <div class="link-container">
        <p>
          Already have an account?
          <a href="{{url_for('home_page')}}">Login</a>
        </p>
      </div>
    </div>

    <script src="../static/new_js.js"></script>
  </body>
</html>
